{% macro render_table(title,data, ignored = [], view =None, edit=None, delete=None) %}
<div class="container-fluid">
    <div class="h1">{{title}}</div>
<table class="table table-hover table-bordered">
    <thead class="table-dark">
        {% if data and data|length > 0 %}
        <tr class="text-capitalize">
            {% for r in data[0] %}
                {% if r not in ignored %}
                <th>{{r}}</th>
                {% endif %}
            {% endfor %}
            {% if view or edit or delete %}
            <th>Actions</th>
            {% endif %}
        </tr>
        {%endif%}
    </thead>
    <tbody>
        {% for r in data %}
        <tr>
            {% for k,v in r.items() %}
            {% if k not in ignored %}
            {% if k == "image" %}
            <td style="width: 10em;">
            <img src="{{v}}" style="aspect-ratio: 1; width:100%">
            </td>
            {% elif k == "visibility" %}
                {% if v == 1 %}
                <td>
                Visible
                </td>
                {% else %}
                <td>
                Not Visible
                </td>
                {% endif %}  
            {% else %}  
            <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">
                {{v}}
            </td>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if view or edit or delete %}
            <td>
                {% if view and r["id"] %}
                <form action="{{url_for(view)}}?id={{r['id']}}" method="POST" style="display:inline-block">
                    <input type="submit" value="View" class="btn btn-info"/>
                </form>
                {% endif %}
                {% if edit and r["id"] %}
                <form action="{{url_for(edit)}}?id={{r['id']}}" method="POST" style="display:inline-block">
                    <input type="submit" value="Edit" class="btn btn-dark"/>
                </form>
                {% endif %}
                {% if delete and r["id"] %}
                <form action="{{url_for(delete)}}?id={{r['id']}}" method="POST" style="display:inline-block">
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if not data %}
        <tr>
            <td colspan="100%">No results</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<br> <br> <br>
</div>
{% endmacro %}