{% extends "layout.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
{#Gagan Inudkala Krishna Murthy - gi36 - 20th april#}
<div class="container-fluid">
    {% set itemTotal = namespace(total=0) %}
    {% for row in rows %}
    {% set itemTotal.total = itemTotal.total + row['quantity'] %}
    {% endfor %}
    <div class="h4">Cart: {{itemTotal.total}} Items</div>
    <table class="table table-bordered">
        <thread>
            <tr class="bg-dark text-light">
                <th>Item</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody class="border-dark mb-3">
            {% set ns = namespace(total=0) %}
            {% for row in rows %}
            <tr>
                <td>{{row["name"]}}</td>
                <td style="width:10em">
                    <form method="POST">
                        <div class="row">
                            <input type="hidden" name="item_id" value="{{row['item_id']}}" />
                            <div class="col">
                                <input type="number" class="form-control" name="quantity"
                                    value="{{row['quantity']}}" />
                            </div>
                            <div class="col d-grid">
                                <input type="submit" value="Update"
                                    class="btn btn-secondary btn-sm" />
                            </div>
                        </div>
                    </form>
                </td>
                <td>{{row['subtotal']}}</td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="item_id" value="{{row['item_id']}}" />
                        <input type="hidden" name="quantity" value="-1" />
                        <input type="submit" value="x" class="btn btn-danger btn-sm" />
                    </form>
                </td>
                {% set ns.total = ns.total + row['subtotal'] %}
            </tr>
            {% endfor %}
            <tr class="bg-dark text-light">
                <td class="text-end" colspan="100%">
                    Total: {{ns.total or 0}}
                </td>
            </tr>
        </tbody>
    </table>
    <form action="{{url_for('shop.confirm_order')}}" method="POST">
        <input type="submit" value="Place Order" class="btn btn-dark btn-sm" />
    </form>
</div>
{% endblock %}
{# Gagan Inudkala Krishna Murthy - gi36 - 20th april #}