{% extends "layout.html" %}
{% from "_table_helper.html" import render_table %}
{% block title %}Order Confirmation{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
<div class="h2">Order Summary:</div>
<div class="h3">Order Number {{order['order_id']}}:</div>
{{render_table("Address and Billing Details", order_info , [])}}

{{render_table("Ordered Items", rows, ["user_id"])}}
<div>Order Total: ${{order['total']}}</div>
<br>
<div class="h4">Thank you for ordering from Sneaker Store. Your order will be delivered in 4-5 days.</div>
{% endblock %}