{% extends "layout.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
{# Gagan Inudkala Krishna Murthy - gi36 - 20th april #}
<div class="container-fluid">
    <div class="h4">Sneaker Store</div>
    <form class="row row-cols-lg-auto g-3 align-items-center" method="GET">
        <div class="col-12">
            <label class="visually-hidden" for="name">name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Product Name"
                value="{{request.args.get('name') or ''}}">
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="description">description</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Description"
                value="{{request.args.get('description') or ''}}">
        </div>
        {% with cols = allowed_columns %}
        {% include "sort_filter.html" %}
        {% endwith %}
        <div class="col-12">
            <label class="visually-hidden" for="limit">Limit</label>
            <input class="form-control" type="number" min="1" max="100" id="limit" name="limit"
                value="{{request.args.get('limit') or '25'}}" />
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Filter" />
        </div>
        <div class="col-12">
            <a href="?" class="btn btn-secondary">Reset</a>
        </div>
    </form>
    <br>
    {# Gagan Inudkala Krishna Murthy - gi36 - 20th april #}
    <div class="row">
        {% for row in rows %}
        <div class="col">
            <div class="card card-striped card-bordered text-center border-dark mb-3" style="width: 20em; margin-bottom: 30px;">
                <div class="card-header text-white bg-dark">
                    Item Stock: {{row["stock"]}}
                </div>
                <div class="card-body">
                    <div class="card-title" style="font-size: large;"">
                        {{row["name"]}}
                    </div>
                    {% if row["image"] %}
                    <img src="{{row['image']}}" style="aspect-ratio: 1; width:100%">
                    {% endif %}
                    <div class="card-text lead" style="font-size: medium;">
                        {{row["description"]}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-text lead">
                        Cost: {{row["unit_price"]}}
                    </div>
                    <form action="{{url_for('shop.shop_item')}}" method="POST">
                        <input type="hidden" name="id" value="{{row['id']}}" />
                        <div class="d-grid mt-1">
                            <input type="submit" value="View" class="btn btn-outline-dark" />
                        </div>
                    </form>
                    {% if current_user.has_role("Admin") %}
                    <form action="{{url_for('admin.item')}}" method="POST">
                        <input type="hidden" name="id" value="{{row['id']}}" />
                        <div class="d-grid mt-1" style="margin-bottom: 5px;">
                            <input type="submit" value="Edit" class="btn btn-outline-dark" />
                        </div>
                    </form>
                    {% endif %}
                    <form action="{{url_for('shop.cart')}}" method="POST">
                        <input type="hidden" name="id" value="{{row['id']}}" />
                        <input type="number" class="form-control" name="q" value="1" />
                        <div class="d-grid mt-1">
                            <input type="submit" value="+Add" class="btn btn-outline-dark" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br><br>
{% endblock %}
{# Gagan Inudkala Krishna Murthy - gi36 - 20th april #}